$primary: #7097a8;

@import "~bootstrap/scss/bootstrap.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  position: relative;
}

body {
  background: #ECD59F;
  overflow-x: hidden;
}

.loading--container {
  // background-color:burlywood;
  height: 76.7vh;
  text-align: center;
}
