.coffee-container {
  min-height: 50vh;
}

.icon {
  width: 30px;
}

.section-bottom {
  margin-top: 5rem;
  height: 10rem;
  background-color: cadetblue;
}

.card {
  margin: auto;
  margin-top: 1rem;
  padding: 15px;
}

#product-card{
  background-color:#fef8d0;
  border: none;
}

#user-rating-card {
  background-color: #C6A477;
  border: none;
}

.onecoffee-back-btn {
  padding-left: 12.5%;
  margin-top: 30px;
}

#your-rating-card {
  background-color: #C6A477;
  border: none;
}

.rating-title {
  padding-left: 12.5%;
}

.rating--ratingNumber {
  padding-top: 10px;
  padding-left: 6px;
}

h3 {
  padding-top: 20px;
  font-size:larger;
}

.rating-card--body {
  text-align: justify;
}

.coffee-rating--text {
  padding-top: 10px;
  padding-left: 4px;
}

.rating-card--text {
  padding-top: 20px;
}

.name--rating {
  min-width: 150px;
}

@media screen and (min-width: 600px) {
  .container--rating {
    display: flex;
  }
}

@media screen and (min-width: 1100px) {
  .rating-card--body {
    display: flex;
  }

  .rating-card--text {
    padding-top: 10px;
    padding-left: 30px;
  }

  .rating--ratingNumber {
    padding-top: 3px;
    padding-left: 15px;
  }

  .rating-delete-btn {
    margin-left: 25px;
    margin-top: 13px;
    height: 40px;
  }
}