.coffee-container {
  min-height: 50vh;
}

.icon {
  width: 30px;
}

.section-bottom {
  margin-top: 5rem;
  height: 10rem;
  background-color: cadetblue;
}

.card {
  margin: auto;
  margin-top: 1rem;
  padding: 15px;
}

.alert {
  width: 70vw;
  margin: auto;
  margin-top: 20px;
  
}

.rating-card {
  background-color:#fef8d0;
  border: none;
  // background-color:#fef8d0;
  // background-color:#D0BB94;
}

.container--rating {
  padding-left: 6px;
}

.rating--ratingNumber {
  padding-top: 10px;
  padding-left: 6px;
}

h3 {
  padding-top: 20px;
  font-size:larger;
}

.rating-card--body {
  display: flex;
}

.name--rating {
  min-width: 150px;
}

@media screen and (min-width: 600px) {
  .container--rating {
    display: flex;
  }

  .rating--ratingNumber {
    padding-top: 3px;
    padding-left: 15px;
  }
}