footer {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  align-items: flex-end;
  background-color: #C6A477;
  // padding: 10px;
  height: 10vh;
  // min-height: 8vh;
  // position: absolute;
  // bottom: -10;
  width: 100%;
}