footer {
  display: flex;
  justify-content: space-around;
  // align-items: center;
  align-items: flex-end;
  background-color: #3b2621;
  // padding: 10px;
  height: 10vh;
  // min-height: 8vh;
  position: absolute;
  bottom: -10;
  left: 0;
  right: 0;
  margin-top: 0;
  width: 100%;
  color: antiquewhite;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
}