section {
  padding-top: 2rem;
  height: 35rem;
}

h1 {
  font-size: 50px;
  color: black;
  padding: 0px 100px 0px 100px;
}

.link {
  text-decoration: none;
  color: #292929;
}

.find-your-coffee {
  background-image: url('../assets/img/main-background3.png');
  background-size: cover;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-your-coffee button {
  width: 20vw;
  
}

.services {
  background-color: #ecd59f;
  padding-left: 5vw;
}

.service-container {
  display: flex;
  justify-content: space-evenly;
}

.cup-coffee {
  // width: 15vw;
  height: 50vh;
  padding-left: 5vw;
}

.register-container {
  display: flex;
  padding-left: 5vw;
  background-color: #C6A477;
}

.article--card {
  background-color:#fef8d0;
  margin-top: 5vh;
  width: 20vw;
  height: 250px;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.acticle--icon {
  width: 80px;
  padding-top: 20px;
}

.section--container {
  background-color: #C6A477;
}

.message-icon {
  margin-top: 150px;
}

.loading-icon {
  animation: example 4s linear infinite;
}

@keyframes example {
  from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.btn--go-to-coffees {
  margin: 155px;
}

.about-text {
  text-align: justify;
  padding-bottom: 25px;
}
