nav {
  // background-color: #e09738;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3b2621;
  // background-color: #C6A477;
  padding-left: 30px;
  height: 10vh;
  // min-height: 8vh;
}

.logo {
  text-decoration: none;
  font-size: 5vh;
  color: antiquewhite;
}

.nav-links {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.nav-links li {
  list-style: none;
}

.nav-links .nav-link {
  text-decoration: none;
  color: antiquewhite;
}

// @media screen and (min-width: 1200px) {
//   .nav-links {
//     flex-direction: row;
    
//   }
// }