nav {
  // background-color: #e09738;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #C6A477;
  padding: 10px;
  height: 10vh;
  // min-height: 8vh;
}

.logo {
  text-decoration: none;
  font-size: 5vh;
}

.nav-links {
  display: flex;
  flex-direction: row;
  
}

.nav-links li {
  list-style: none;
}

.nav-links .nav-link {
  text-decoration: none;
}

// @media screen and (min-width: 1200px) {
//   .nav-links {
//     flex-direction: row;
    
//   }
// }